
/*Standard button*/
.btn {
    font-weight: 500;
    padding: 10px 16px;
    border: 2px solid transparent;
    background: none;
    font-size: 16px;
    transition: .2s ease;
    cursor: pointer;
}

/*White button*/
.btn-white {
    background-color: #fff;
    color: #000;
    border-color: #fff
}

/*White button on hover*/
.btn-outline-white:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

/*Header button on hover*/
.btn-white:hover {
    background: none;
    color: #fff;
    border-color: #fff;
} 

/*Transparent button*/
.btn-outline-white {
    border-color: #fff;
    color: #fff;
    background: none;
}


/* Button preview */
.btn-primary {
    color: rgba(95, 182, 231, 1);
    border-color: rgba(95, 182, 231, 1);
    background: none;
}

/* Button preview on hover */
.btn-primary:hover {
    color: #fff;
    background: rgba(95, 182, 231, 1);
    border: 1px solid rgba(95, 182, 231, 1);
}
