.burger-menu {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  transition: .25s ease;
}

.burger::before,
.burger::after {
  content: "";
  top: -10px;
  width: 100%;
  display: block;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  border-radius: 2px;
  transition: 0.25s ease;
}

.burger::after {
  bottom: -10px;
  top: auto;
}

.burger.active::before {
  transform: rotate(45deg) translate(10px, 4px);
}

.burger.active::after {
  transform: rotate(-45deg) translate(10px, -4px);
}

.navbar-fixed .burger.active,
.burger.active {
  background-color: transparent;
}

.navbar-fixed .burger {
  background-color: #000;
}

.navbar-fixed .burger::before,
.navbar-fixed .burger::after {
  background-color: #000;
}

.mobile-nav-menu {
  list-style: none;
  background: #fff;
}

.mobile-nav-menu-item {
  color: #000;
}