.navbar{
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    width: 100%;
    max-width: 60px;
    padding: 8px;
    background-color: rgba(255,255,255, .7);
}

.logo img{
    width: 100%;
    height: auto;
}

.nav-menu {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-menu-item {
    margin: 0 15px;
}

.nav-menu-link {
    display: block;
    color: #fff;
    font-size: 15px;
    opacity: .8;
    padding: 8px 16px;
    position: relative;
    border: 1px solid transparent;
    line-height: 1;
    transition: .2s ease;
    border-radius: 4px;
    opacity: .7;
}

.nav-menu-link:hover,
.nav-menu-item.active .nav-menu-link {
    border-color:#fff;
    opacity: 1;
    transform: translateX(-2px);
}