@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

.footer {
    background-color: rgba(39, 81, 108, 1);
    padding: 40px 0;
}

.footer img {
    min-width: 90px;
    max-width: 90px;
    display: block;
    background-color: rgba(255,255,255, .7);
    padding: 6px;
    box-shadow: 0 6px 12px rgb(0 0 0 );
    border-radius: 5px;
    transition: .2s ease;
    margin-bottom: 30px;
}

.footer img:hover {
    box-shadow: 0 6px 12px rgb(255,255,255, .3 );
    border-radius: 5px;
}

.footer p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    padding: 0;
    width: 30%;
}