

.slider-wrapper {
    height: 50vh;
    width: 100%;
    background-image: url(../../Assets/images/slide-bg.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}

.slider-wrapper::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(51 146 198 / 78%) 100%, rgba(3, 25, 226, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
}

.wrapper {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

.slider-info {
    width: 50%;
}

.slider-info h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
}

.slider-info p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 35px;
}

.slider-btn {
    width: 35git%;
}


.slider-img {
    display: flex;
    justify-content: flex-end;
}

.slider-img img {
    max-width: 70%;
}

